img {
  max-width: 100%;
}
.main {
  position: relative;
  &__bg {
    display: block;
    width: 100%;
    height: auto;
  }
  &__container-item {
    position: absolute;
    top: 17%;
    right: 16%;
  }
  &__item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 185px;
    cursor: pointer;
  }
}
.bg-item1 {
  background: linear-gradient(
    135deg,
    transparent 60%,
    rgba(255, 255, 255, 0.03) 80%
  );
}
.bg-item2 {
  background: linear-gradient(
    225deg,
    transparent 60%,
    rgba(255, 255, 255, 0.03) 80%
  );
}
.bg-item3 {
  background: linear-gradient(
    45deg,
    transparent 60%,
    rgba(255, 255, 255, 0.03) 80%
  );
}
.bg-item4 {
  background: linear-gradient(
    315deg,
    transparent 60%,
    rgba(255, 255, 255, 0.03) 80%
  );
}
.bg-item1:hover {
  // transform: scale(0.95);
  // transform-origin: bottom right;
  background: linear-gradient(
    135deg,
    transparent 40%,
    rgba(255, 255, 255, 0.07) 80%
  );
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    135deg,
    transparent 60%,
    rgba(255, 255, 255, 0.2) 70%
  );
  border-image-slice: 1;
}
.bg-item2:hover {
  // transform: scale(0.95);
  // transform-origin: bottom left;
  background: linear-gradient(
    225deg,
    transparent 40%,
    rgba(255, 255, 255, 0.07) 80%
  );
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    225deg,
    transparent 60%,
    rgba(255, 255, 255, 0.2) 70%
  );
  border-image-slice: 1;
}
.bg-item3:hover {
  // transform: scale(0.95);
  // transform-origin: top right;
  background: linear-gradient(
    45deg,
    transparent 40%,
    rgba(255, 255, 255, 0.07) 80%
  );
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    45deg,
    transparent 60%,
    rgba(255, 255, 255, 0.2) 70%
  );
  border-image-slice: 1;
}
.bg-item4:hover {
  // transform: scale(0.95);
  // transform-origin: top left;
  background: linear-gradient(
    315deg,
    transparent 40%,
    rgba(255, 255, 255, 0.07) 80%
  );
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    315deg,
    transparent 60%,
    rgba(255, 255, 255, 0.2) 70%
  );
  border-image-slice: 1;
}

.item-main {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 100;
    color: #ffffff;
  }
  &__value {
    padding-top: 10px;
    font-size: 60px;
    font-weight: 700;
    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
.img-el {
  position: absolute;
  top: 30.7%;
  left: 20%;
  width: 22.1875%;
  height: 11.8181%;
  background: url(../../img/journey.png) no-repeat center/cover;
}
.img-el2 {
  position: absolute;
  top: 61%;
  left: 29%;
  width: 21.1458%;
  height: 8.6363%;
  background: url(../../img/figure.png) no-repeat center/cover;
}

.button-container {
  position: absolute;
  top: 59.5%;
  left: 20.15%;
  // width: 9.375%;
  // height: 5.303%;
}
.button-wrapper {
  position: relative;
}
.corner1 {
  position: absolute;
  top: 15px;
  left: -15px;
}
.corner2 {
  position: absolute;
  top: -15px;
  right: -15px;
}

.button {
  width: 180px;
  height: 35px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    189deg,
    #263e66 20%,
    #09213d 40%,
    #111f2d 61%,
    #23599c 79%
  );
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: #000000;
  cursor: pointer;

  font-family: 'Museo Sans Cyrl';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 100;
  color: #ffffff;
}
